<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FFRecognition.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2D4DAFC1E5C3558006D75ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2D4DB101E5C355B006D75ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2D4DB1B1E5C355B006D75ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
